{
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": ["error", "always"],
    "quotes": ["error", "double"],
    "semi": ["error", "never"]
    // Other ESLint rules as needed
  }
}
