form {
    color: white;
}

form label {
    display: flex;
}
form label input {
    flex: 1;
}

#feature-editor {
    flex: 1;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.edit-feature {
    display:grid;
    grid-template-columns: 6em 3.5em auto 3.5em 2.5em 1.5em;
    min-height: 10em;
}
.new-feature {
    display: grid;
    grid-template-columns: auto 6em;
    margin-bottom: 0.5em;
}

.save-load {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.save-load button {
    max-width: 4em;
}
#monaco-editor {
    flex: 1;
    padding: 3px;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
}
#editor-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #333;
    color: white;
    width: 50vw;
    max-height: 100vh;
    min-height: 90vh;
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    /* Cosmic Color Scheme */
    --color-space-black: #000000;
    --color-nebula-purple: #a365f2;
    --color-asteroid-pink: #e16ce6;
    --color-galaxy-blue: #a398f4;
    --color-comet-tail: #e099e6;
    --color-starlight-blue: #6195f9;
    --color-deep-sky: #2198fb;
    --color-twilight-purple: #6566f4;
    --color-alien-green: #a22bec;
    --color-rocket-metal: #2065f5;
    --color-lunar-white: #e6e6e6;

    --radius: 0.5rem;
}

/* Sparkly Class */
.sparkly {
    background: linear-gradient(
        270deg,
        var(--color-nebula-purple),
        var(--color-asteroid-pink),
        var(--color-comet-tail),
        var(--color-galaxy-blue),
        var(--color-starlight-blue),
        var(--color-deep-sky),
        var(--color-twilight-purple),
        var(--color-alien-green),
        var(--color-rocket-metal),
        var(--color-nebula-purple)
    );
    background-size: 800% 800%;
    color: var(--color-lunar-white);
}
.sparkly.animated {
    animation: sparkle 8s linear infinite;
}

/* Sparkly Animation */
@keyframes sparkle {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

body {
    cursor: pointer;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    font-family: 'Space-Age', sans-serif;
    backdrop-filter: blur(100px);
    user-select: none;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Crect width='100' height='100' rx='20' ry='20' fill='%23a398f4' /%3E%3Ccircle cx='50' cy='50' r='30' fill='%23e099e6' /%3E%3Ccircle cx='25' cy='25' r='20' fill='%236195f9' /%3E%3Ccircle cx='75' cy='75' r='15' fill='%23a365f2' /%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(100px); /* Adjust this value to control the blur intensity */
}

body.ready::before {
    filter: blur(0px); /* Adjust this value to control the blur intensity */
    transition: all 0.01s ease-in-out;
    opacity: 0;
}

canvas {
    height: 50vmin;
    width: 50vmin;
}
