name: Publish VS Code Extension
on:
    workflow_dispatch:
    push:
        branches:
            - main
        paths:
            - 'vscode-extension/package.json'
            - '.github/workflows/'

jobs:
    publish-extension:
        runs-on: ubuntu-22.04
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '22.x'
                  registry-url: 'https://registry.npmjs.org'

            # Build and publish VS Code extension
            - uses: pnpm/action-setup@v4
              with:
                  version: latest

            - name: Install dependencies
              run: cd ./vscode-extension && pnpm install --frozen-lockfile

            - name: Build extension
              run: cd ./vscode-extension && pnpm build

            - name: Publish to VS Code Marketplace
              run: cd ./vscode-extension && npx vsce publish -p ${{ secrets.VSCE_PAT }}
